In [62]:
import pickle
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [63]:
#Load Model for prediction
loaded_model = pickle.load(open("Regression_model_for_Power_Generation.pkl", "rb"))

In [64]:
# Fit Scaler
data = pd.read_csv('D:\Bit Code\Solar Panel\data.csv')
data=data.drop(labels=['yearly_sunlight_kwh_e', 'yearly_sunlight_kwh_n','yearly_sunlight_kwh_s','yearly_sunlight_kwh_w','number_of_panels_e','number_of_panels_s','number_of_panels_w','yearly_sunlight_kwh_f','number_of_panels_f','number_of_panels_n','kw_total'], axis=1)
data=data.dropna()
#encode categorical Data
country_encoder = LabelEncoder()
country_encoder.fit(data['state_name'])
country_code = country_encoder.transform(data['state_name'])
X = data
X=X.drop(columns=['state_name'],axis=1)
X['Country_code']=country_code.tolist()
# Fit the Scaler
scaler = StandardScaler().fit(X)

Testing the new inputs

In [75]:
# date_set only contains one entry
data_test = pd.read_csv('date_testnew.csv')

In [76]:
data_test

,state_name,region_name,percent_qualified,yearly_sunlight_kwh_total,number_of_panels_total,lat_avg,lng_avg
0,California,6037104401,1,30.393077,23,36.778261,-134.417932

In [77]:
# data_test=data_test.drop(labels=['yearly_sunlight_kwh_e', 'yearly_sunlight_kwh_n','yearly_sunlight_kwh_s','yearly_sunlight_kwh_w','number_of_panels_e','number_of_panels_s','number_of_panels_w','yearly_sunlight_kwh_f','number_of_panels_f','number_of_panels_n','kw_total'], axis=1)

In [78]:
country_encoder_test = LabelEncoder()
country_encoder_test.fit(data_test['state_name'])
country_code_test = country_encoder_test.transform(data_test['state_name'])
data_test['Country_code']=country_code_test.tolist()
data_test=data_test.drop(columns=['state_name'],axis=1)

In [79]:
data_test.iloc[[0]]

,region_name,percent_qualified,yearly_sunlight_kwh_total,number_of_panels_total,lat_avg,lng_avg,Country_code
0,6037104401,1,30.393077,23,36.778261,-134.417932,0

In [80]:
X_scaled= scaler.transform(data_test.iloc[[0]])

In [81]:
X_scaled

array([[-1.27531637, -4.93794972,  0.89314273, -1.02917926, -0.13305911,
        -2.42304639, -1.51131009]])

In [82]:
Y_pred=loaded_model.predict(X_scaled)

In [83]:
Y_pred

array([2086.77240038])