In [1]:
import pickle
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [3]:
#Load Model for prediction
loaded_model = pickle.load(open("Regression_model_for_Power_Generation.pkl", "rb"))

In [4]:
# Fit Scaler
data = pd.read_csv('D:\Bit Code\Solar Panel\data.csv')
data=data.drop(labels=['yearly_sunlight_kwh_e', 'yearly_sunlight_kwh_n','yearly_sunlight_kwh_s','yearly_sunlight_kwh_w','number_of_panels_e','number_of_panels_s','number_of_panels_w','yearly_sunlight_kwh_f','number_of_panels_f','number_of_panels_n','kw_total'], axis=1)
data=data.dropna()
#encode categorical Data
country_encoder = LabelEncoder()
country_encoder.fit(data['state_name'])
country_code = country_encoder.transform(data['state_name'])
X = data
X=X.drop(columns=['state_name'],axis=1)
X['Country_code']=country_code.tolist()
# Fit the Scaler
scaler = StandardScaler().fit(X)

Testing the new inputs

In [4]:
# date_set only contains one entry
data_test = pd.read_csv('data_test.csv')

In [5]:
data_test

,state_name,region_name,percent_qualified,yearly_sunlight_kwh_f,yearly_sunlight_kwh_e,yearly_sunlight_kwh_n,yearly_sunlight_kwh_s,yearly_sunlight_kwh_w,yearly_sunlight_kwh_total,number_of_panels_e,number_of_panels_f,number_of_panels_n,number_of_panels_s,number_of_panels_w,number_of_panels_total,lat_avg,lng_avg,kw_total
0,California,6037104401,86.303387,2539152.18,1014756.467,1075291.372,1760042.866,1533140.14,7922383.025,2964,6574,3159,4352,3827,20876,34.26704,-118.432716,5219

In [6]:
data_test=data_test.drop(labels=['yearly_sunlight_kwh_e', 'yearly_sunlight_kwh_n','yearly_sunlight_kwh_s','yearly_sunlight_kwh_w','number_of_panels_e','number_of_panels_s','number_of_panels_w','yearly_sunlight_kwh_f','number_of_panels_f','number_of_panels_n','kw_total'], axis=1)

In [7]:
country_encoder_test = LabelEncoder()
country_encoder_test.fit(data_test['state_name'])
country_code_test = country_encoder_test.transform(data_test['state_name'])
data_test['Country_code']=country_code_test.tolist()
data_test=data_test.drop(columns=['state_name'],axis=1)

In [8]:
X_scaled= scaler.transform(data_test.iloc[[0]])

In [9]:
X_scaled

array([[-1.27531637,  0.56799283, -0.63739813, -0.71569292, -0.63010637,
        -1.48805009, -1.51131009]])

In [10]:
Y_pred=loaded_model.predict(X_scaled)

In [11]:
Y_pred

array([6563.07604235])